# Supabase Credentials
VITE_SUPABASE_URL=https://qhwdpchkguyurbefddjy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFod2RwY2hrZ3V5dXJiZWZkZGp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjIyMzUsImV4cCI6MjA5MjY5ODIzNX0.gZSsPT-cflk5yd2w2-pwJfFdTEic23H0oCjN8kmxasQ
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFod2RwY2hrZ3V5dXJiZWZkZGp5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzEyMjIzNSwiZXhwIjoyMDkyNjk4MjM1fQ._0ij3-pRAKoztendwkOM9FJtU8KhOr2q-Xb5Mo7fAmw
